/***********************
 *Css file
 ***********************/ 
body{
  margin:auto;
  padding:0;
  background-image:url("../images/background.jpg");
  background-repeat:no-repeat;
}
html,body{
    padding:0;
    margin: 0 auto;
box-sizing: content-box;
  background-size:100% ;
overflow-y:absolute;
}



