/***********************
 *Css file
 ***********************/ 


 #logo { 
 width: 100px;
 height: 100px; 
 background: white;
 position:absolute;
 list-style-position:outside;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px;
 border-radius: 50px;
} 
/*************
 * problem to solve
 **************/
.logo-border { 
 width: 120px;
 height: 120px; 
 list-style-position:outside;
 background: red;
 position:absolute;
 -moz-border-radius: 70px; 
 -webkit-border-radius: 70px;
 border-radius: 70px;
} 



/*************
 * LION SECTION
 *************/
.lion{
  background:url("../assets/lion.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  position:fixed;
  height:100%;
}



/*************
 * CHEETER SECTION
 *************/
.cheeter{
  clear:both;
  background:url("../assets/images.jpg");
  background-size:100% 100%;
  background-repeat:no-repeat;
  height:100%;
}



